---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Manifesto from '../components/Manifesto.astro';
import Categories from '../components/Categories.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import PhotoCollection from '../components/PhotoCollection.astro';
import Contact from '../components/Contact.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Creando recuerdos inolvidables">
  <Header />
  <main>
    <Hero />
    <Manifesto />
    <Categories />
    <Services />
    <About />
    <PhotoCollection />
    <Contact />
    <Newsletter />
  </main>
  <Footer />
</Layout>
